<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Profesores</title>
</head>
<body>
    <h1>Gestión de Profesores</h1>

    <!-- Listado de Profesores -->
    <h2>Listado de Profesores</h2>
    <a href="/agregar">Agregar Profesor</a>
    <ul>
        {% for profesor in profesores %}
            <li>{{ profesor[1] }} {{ profesor[2] }}
                <a href="/editar/{{ profesor[0] }}">Editar</a>
                <a href="/eliminar/{{ profesor[0] }}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Formulario para Agregar o Editar Profesor -->
    <h2>{% if profesor %}Editar{% else %}Agregar{% endif %} Profesor</h2>
    <form action="{% if profesor %}/editar/{{ profesor[0] }}{% else %}/agregar{% endif %}" method="post">
        <label for="nombre_profesor">Nombre:</label>
        <input type="text" id="nombre_profesor" name="nombre_profesor" value="{% if profesor %}{{ profesor[1] }}{% endif %}" required>
        <br>
        <label for="apellido_profesor">Apellido:</label>
        <input type="text" id="apellido_profesor" name="apellido_profesor" value="{% if profesor %}{{ profesor[2] }}{% endif %}" required>
        <br>
        <label for="telefono_profesor">Teléfono:</label>
        <input type="text" id="telefono_profesor" name="telefono_profesor" value="{% if profesor %}{{ profesor[3] }}{% endif %}" required>
        <br>
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" value="{% if profesor %}{{ profesor[4] }}{% endif %}" required>
        <br>
        <button type="submit">{% if profesor %}Actualizar{% else %}Agregar{% endif %}</button>
    </form>
</body>
</html>
